@import "tailwindcss";

:root {
    --font-pppangaia: var(--font-pppangaia);
    --font-ppneuemontreal: var(--font-ppneuemontreal);
	--color-baby-powder: #FFFFFA;
	--color-baby-powder-hover: #ffffd5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-pppangaia);
}

p, a {
    font-family: var(--font-ppneuemontreal);
}

@theme inline {

}


body, html {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background-color: var(--color-baby-powder);
	scrollbar-width: none;
	-ms-overflow-style: none;
}